html {
    margin: 0;
    padding: 0px 4px;
    background-color: #EEFFF9;
    gap: 100px;
}

body {
    margin: 0;
    padding: 0;
}

@media (min-width: 1400px) {
    html {
        padding: 0px 32px;
    }
}

@media (min-width: 1920px) {
    html {
        padding: 0px 48px;
    }
}