.reviews-container-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 13px;
}

.reviews-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 0;
    color: #000000;
    text-align: left;
}

.reviews-container-review {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviews-container-review-body-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.reviews-container-review-body-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reviews-container-review-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 0;
    color: #000000;
    text-align: left;
}

.reviews-container-review-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 0;
    color: #494D4C;
    text-align: left;
}

.reviews-container-review-hashtag {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 0;
    color: #003366;
    text-align: left;
}

.reviews-container-review-body {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
}

.reviews-container-review-body p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.00em;
    margin: 0;
    color: #000000;
    text-align: left;
    font-style: italic;
}