.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: linear-gradient(264.7deg, #369D88 0%, #163B33 100%);
    border-radius: 16px;
    padding: 48px 12px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}


.reviews-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1%;
    margin: 0;
    color: #FFFFFF;
    text-align: left;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reviews-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}

.reviews-button-outline {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1%;
}

.reviews-button-outline:hover {
    color: #9FC1FF;
    border-color: #9FC1FF;
}