.container-marquee {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.photo-frame {
    display: inline-block;
    width: 210px;
    height: 118px;
    margin-right: 4px;
    overflow: hidden;
    border-radius: 32px;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.photo-frame:hover .photo {
    transform: scale(1.04);
}

@media (min-width: 500px) {

    .photo-frame {
        width: 420px;
        height: 236px;
        margin-right: 16px;
    }
    
}

@media (min-width: 1024px) {

    .photo-frame {
        width: 840px;
        height: 427px;
        margin-right: 16px;
    }
    
}